.CollisionStarContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #303846;

  .scrollableContainer {
    z-index: var(--child-z-index);
    display: flex;
    align-self: center;
    justify-content: center;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
  }
}
